body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #0b2d48;
  color: white;
  min-height: 100vh;
  padding: 60px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

.sidebar button:hover {
  background: #ddd;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

.main h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* KPI */
.kpi-row {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.kpi {
  background: white;
  padding: 20px;
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kpi span {
  color: gray;
}

.kpi h2 {
  margin: 10px 0 0;
}

/* GRAPH */
#mainChart {
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.kpi-row {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.kpi {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.kpi:hover {
  transform: translateY(-4px);
}

.kpi small {
  color: #6b7280;
  font-size: 14px;
}

.kpi h2 {
  margin: 8px 0 0;
  font-size: 32px;
  color: #0b2d48;
}

.container {
  padding: 30px 40px;
}

.chart-card {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
}

.menu button {
  background: rgb(255, 255, 255);
  border: 1px solid #d1d5db;
  padding: 10px 16px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: 500;
}

.menu button:hover {
  background: #0b2d48;
  color: white;
}
